
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

body{
    line-height: 1.5;
}

html{
    line-height: 18.4px;
    padding: 10 px 0px 0px;  
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ul {
    list-style-type: none;
} */

/*Header-main*/
/*header-top*/
.header-main{
    position: fixed;
    height: 170px;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
}

.top-container{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    line-height: 22.4px;
    margin: 0px 44px;
    padding: 0px 15px;
}

.header-top{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
    line-height: 20px;
    align-items: center;
}

.logo-img{
    position: relative;
    height: auto;
    max-width: 110px;   
}

.contact-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.info a{
    text-decoration: none;
    color: #f58223;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}

.icon i{
    color: #d01002;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    width: 20px;
    margin-left: 5px;
}

/*Header-bottom*/

.header-bottom{
    position: relative;
    background-color: #ffffff;
    line-height: 22.4px;
    padding: 10px;
    text-align: left;
    margin-top: 4px;
}

.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
}

.nav-items a{
     text-decoration: none;
     color: #f58223;
     font-family: Roboto;
     font-size: 14px;
     font-weight: 700;
     line-height: 40px;
     padding: 13px 0px;
     text-align: left;
      
}
.nav-items:nth-child(2),.nav-items:nth-child(3),
.nav-items:nth-child(4),.nav-items:nth-child(5){
  list-style: none;
  margin-left: 34px;
}

.nav-items:nth-child(1){
    list-style: none;
    margin-left: 14px;
}

/*Page layout*/
    /*ảnh*/
.photo{
    background: url("//theme.hstatic.net/200000492415/1000859563/14/breadcrumb_bg.jpg?v=637") ;
    background-position: 0% 50%;
    background-size: cover;
    color: #4a4a4a;
    text-align: center;
    padding: 600px 0px 76px;
    line-height: 22.4px;
}    
.wrap{
    color: #4a4a4a;
    line-height: 22.4px;
    padding: 48px 72px;
    display: flex;
}
.main-content {
    flex-basis: 75%;
}
.right{
    color: #4a4a4a;
    flex-basis: 25%;
    line-height: 22.4px;
    padding: 0px 15px;
    text-align: left;
}
.subscribe {
    background-color: #F4A460;
    height: 360px;
    padding: 80px 0px 90px;
}
.subscribe .content {
    display: flex;
    width: 92%;
    margin: 0 auto;
}
.subscribe .container-left, .subscribe .container-right {
    flex-basis: 50%;
    height: 100%;
}
.subscribe h1 {
    font-size: 52px;
    font-weight: 600;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 13px;
    color: #fff;
}
.subscribe p {
    font-size: 20px;
    color: #fff;
}
.subscribe .input-group {
    display: flex;
}
.subscribe #newsletter-email {
    padding-left: 25px;
    flex-basis: 80%;
    height: 63px !important;
    -webkit-border-radius: 30px 0px 0px 30px;
    border-radius: 30px 0px 0px 30px;
    flex-grow: 1;
    border: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    font-weight: 500;
}
.subscribe button {
    flex-basis: 20%;
    width: 167px;
    height: 63px;
    -webkit-border-radius: 0px 30px 30px 0px;
    -moz-border-radius: 0px 30px 30px 0px;
    border-radius: 0px 30px 30px 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #fff;
    border: 1px solid #f58223;
    font-weight: 500;
    text-transform: uppercase;
    color: #f58223;
    padding: 0px 20px;
}
.subscribe button i {
    width: 35px;
    text-align: center;
    font-size: 35px;
}





/*Footer*/
.footer .content {
    padding: 70px;
    display: flex;
    height: 300px;
    justify-content: space-around;
}
.footer .content > * {
    flex-basis: 30%;
}
.footer .logo-link img {
    max-width: 90%;
}
.footer .footer-title {
    position: relative;
    padding: 0px;
    margin: 0px 0px 30px;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 13px;
}
.footer .footer-contact {
    max-width: 380px;
}
.footer i {
    width: 20px;
    transform: translateY(4px);
    color: #f58223;
}
.footer .footer-contact span {
    width: calc(100% - 25px);
    padding-left: 10px;
}
.footer .footer-title:after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 3px;
    background: #f58223;
    position: absolute;
    bottom: 0;
    left: 0; 
}
.footer h3, .footer h4 {
    color: #417505;
}
.footer .footer-menu li {
    display: block;
    margin-bottom: 0px;
    line-height: 32px;
    padding: 0px 0px;
}
.footer .footer-menu li a{
    color: #504d4d;
    text-decoration: none;
    
}

.pagefaq_formbg {
    padding: 20px 15px;
    background: url("//theme.hstatic.net/200000492415/1000859563/14/faq_form.jpg?v=637") bottom center/cover no-repeat;
}
.pagefaq_form {
    padding: 30px 20px;
    background: #b3c2d3;
    max-width: 340px;
    margin: 30px 0 30px auto;
    background: #ffffff;
}
.pagefaq_form__title {
    font-size: 24px;
    font-weight: 600;
    color: #f5a623;
    margin: 0 0 10px 0;
}
.text-center {
    text-align: center !important;
}
.input-group {
    margin: 15px 0px; 
}
.contact-form .input-group input, .contact-form .input-group textarea {
    width: 100%;
    border: 1px solid #ebebeb;
    box-shadow: none;
    height: 50px;
    font-weight: 400;
    padding: 10px 20px;
    background: #f5f5f5;
    color: #4a4a4a;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none; 
}
.pagefaq_form .input-group textarea {
    height: 180px;
}
.btn {
    padding: 10px 28px;
    background-color: #f58223;
    border-radius: 25px;
    border-color: #f58223;
    border-radius: 25px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 1.3;
}
.wrap .left, .wrap .right {
    padding: 0 15px;
}

h1{
    align-items: flex-start;
    color: #f5a623;
    display: inline-block;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.3px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    
}

#Table3 b{
    color: #4a4a4a;
    display: inline;
    font-family: Roboto;
    font-weight: 700;
    line-height: 22.4px;
    text-align: justify;
    padding: 0px 0px 0px 0px;
    text-align: left;

}

p strong{
    color: #4a4a4a;
    display: inline;
    font-weight: 700;
    line-height: 22.4px;
    text-align: justify;
}

.card-body b{
    color: #4a4a4a;
    display: inline;
    font-weight: 700;
    line-height: 22.4px;
    text-align: justify;
}

ul{
    color: #4a4a4a;
    line-height: 22.4px;
    margin: 0px 0px 15px;
    padding: 0px 0px 0px 40px;
    text-align: left;
    
}

/* li{
    text-decoration: dotted;
} */



/* phần bên phải của body*/
.right h3{
    align-items: center;
    color: #417505;
    display: flex;
    font-size: 22px;
    font-weight: 600;
    justify-content: space-between;
    line-height: 26.4px;
    margin: 0px 0px 20px;
    padding: 0px 0px 10px;
    text-align: left;
}

