*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.outstanding{
    padding: 100px 0px;
    background: url("//theme.hstatic.net/200000492415/1000859563/14/bgourclass.jpg?v=637") no-repeat;
    background-size: cover;
}
.outstanding-heading{
    
    position: relative;
    /* margin: 0 auto; */
}
.outstanding-heading__title{
    color: white;
    font-size: 1.5rem;
    /* position:absolute; */
    text-align: center;
    /* line-height: 5rem; */ 
}
.outstanding-heading::after{
  content: " ";
  display: flex;
  margin: 0 auto;
  border: solid #fff;
  width: 4rem;
  height: 2px;
  margin-top: 1rem;
}

.outstanding-list{
  display: flex;
  margin: 1rem 0px;
  justify-content: space-around;
  padding: 0px 3rem;
}
.outstanding-item{
  flex-basis: 22.5%;
  border-radius: 8px;
  overflow: hidden;
}
.outstanding-item__title{
  padding: 20px 0px;
  text-align: center;
}
.outstanding-item__title-color1{
  background: #CBF400;
}
.outstanding-item__title-color2{
  background: #21F2D9;
}
.outstanding-item__title-color3{
  background: #a025ed;
}
.outstanding-item__title-color4{
  background: #d8006b;
}
.oustanding-item__title-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}


/* experience */
.experience{
  padding: 20px 0px;
}
.experience-heading{
  margin-top: 1rem;
}
.experience-heading::after{
  content: " ";
  display: flex;
  margin: 0 auto;
  border: solid #F58223;
  width: 4rem;
  height: 2px;
  margin-top: 1rem;
}
.experience-heading__title{
  font-weight: 300;
  font-size: 3rem;
  color: #417505;
  text-align: center;
}

.experience-list{
  margin-top: 2rem;
  padding: 0px 2.5rem;
  display: flex;
  justify-content: space-around;
}
.experience-item{
  background: #fff;
  padding: 51px 84px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 1px 24px 0 rgb(0 0 0 / 10%);
  flex-basis: 22.5%;
}

.experience-item__title{
  font-size: 24px;
  font-weight: 600;
  color: #417505;
  padding-top: 43px;
  text-align: center;
}



 .experience-item__img:hover img{
  transform: rotate(1turn);
} 

/* @keyframes scaleimg {
  from{
    transform: scale(1);
    transform: rotate(0deg);
  }
  to{
    transform: scale(0);
    transform: rotate(360deg);
  }
} */
/* .experience-item__img:hover{

  transition: scaleimg 0.4s ease-out;
  transform: rotate(1turn);
}

.experience-item:hover,.experience-item__title:hover{
  background-color: #fd7e14;
  color: white;
} */
