*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.outstanding{
    padding: 100px 0px;
    background: url("//theme.hstatic.net/200000492415/1000859563/14/bgourclass.jpg?v=637") no-repeat;
    background-size: cover;
}
/* .outstanding-heading{
    display: inline;
    position: relative;
    margin: auto;
} */
.outstanding-heading__title{
    color: white;
    font-size: 1.5rem;
    /* position:absolute; */
    text-align: center;
    /* line-height: 5rem; */ 
}
.outstanding-heading__title::after{
  content: "";
  display: inline-block;
  border: solid;
  width: 1rem;
  height: 3px;
  border-color: #fff;
  text-align: center;

}