*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.outstanding{
    padding: 100px 0px;
    background: url("//theme.hstatic.net/200000492415/1000859563/14/bgourclass.jpg?v=637") no-repeat;
    background-size: cover;
}
.outstanding-heading{
    
    position: relative;
    /* margin: 0 auto; */
}
.outstanding-heading__title{
    color: white;
    font-size: 1.5rem;
    /* position:absolute; */
    text-align: center;
    /* line-height: 5rem; */ 
}
.outstanding-heading::after{
  content: " ";
  display: flex;
  margin: 0 auto;
  border: solid #fff;
  width: 4rem;
  height: 2px;
  margin-top: 1rem;
}

.outstanding-list{
  display: flex;
  margin: 1rem 0px;
  justify-content: space-around;
  padding: 0px 3rem;
}
.outstanding-item{
  flex-basis: 22.5%;
  border-radius: 8px;
  overflow: hidden;
}
.outstanding-item__title{
  padding: 20px 0px;
  text-align: center;
}
.outstanding-item__title-color1{
  background-color: #CBF400;
}
.outstanding-item__title-color2{
  background-color: #21F2D9;
}
.outstanding-item__title-color3{
  background-color: #a025ed;
}
.outstanding-item__title-color4{
  background: #d8006b;
}
.oustanding-item__title-link{
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
